.bt-cart{
    margin-left: 30px;
    width: 30px;
    color: rgb(255, 255, 255);
}
.l1{
    margin-left: 60px ;
}
.inp{
    margin-top: 5px;
    margin-left: 40px;
}
.user{
    margin-left: 40px;
}
.mm{
    color: blue;
    
}